@page "/Error"
@model Undefended.Pages.ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="alert alert-danger" role="alert">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
    @if (!string.IsNullOrWhiteSpace(Model.Message)) {
        <strong>Message:</strong>
        @Model.Message
    }

    @if (Model.ShowRequestId) {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }
</div>
